* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(images/images.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

background-image {
    opacity: 0.2;
}

.log {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
}

input {
    width: 120%;
    height: 20px;
    border-radius: 5px;
    border: solid 1px blue;
}

button {
    width: 30%;
    height: 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    h1 {
        text-transform: capitalize;
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
        color: rgb(10, 10, 233);
    }

    button {
        width: 35%;
        height: 24px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
    }
    input{
        font-weight: 600;
    }
}